variable "do_token" {
  description = "DigitalOcean API token"
  type        = string
  default     = "{{ do_token }}"
}

variable "droplet_count" {
  description = "Number of droplets to create"
  type        = number
  default     = {{ droplet_count }}
}